html, body, #map {

	height: 100%;
	width: 100%;
}

input {

    text-align: center;
}

.overlay, .chart-menu {

    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

.overlay-content, .chart-menu-content {

    position: relative;
    top: 25%;
    text-align: center;
}

#chartView {

	position: fixed;
    top: 0;
}
