<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Chart Showcase</title>

  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <canvas id="myChart" width="400" height="400"></canvas>
  <script src="/scripts/libs/Chart.bundle.min.js"></script>
  <script src="/scripts/chart-showcase.js"></script>
</body>
</html>
