{% extends 'base' %}

{% block title %}
Charts
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

	<canvas id="chart"></canvas>

{% endblock %}

{% block scripts %}
  <script src="/libs/chart.bundle.min.js"></script>
  <script src="/scripts/charts.js"></script>
{% endblock %}
